target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr


### Maven ###
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties


### 日志 ###
*.log
*.logs

### 临时文件 ###
*.tmp
*.bak
*.swp
.DS_Store

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

